* {
	box-sizing: border-box;
	font-family: helvetica, sans-serif;

}

body {
	margin: 0px;
	background-color:#F4F4E1 
}

.banner {
	width:100%;
	max-height:600px;
}

.navbar-main{
	width:100%px;
	height:70px;
	margin-right: auto;
	margin-left: auto;
	background-color: #293BE2;
    
	
}

ul {
    list-style-type: none;
}

.navbar-main ul {
	width:60%;
	margin: 1px auto;
    overflow: hidden;
    height: 100%;
    position: relative;
    left:-20px;

}

.navbar-main li {
    float: left;
    width:19.8%;
    margin: 5px auto;
}

.navbar-main a:link, a:visited {
	font-weight: bold;
	height: 100%;
	width: 100%;
	display: block;
    color: #FFFFFF;
    background-color: #0C5FE4;
    text-align: center;
    padding:20px;
    text-decoration: none;
    text-transform: uppercase;
	border-radius: 45px;
	box-shadow: rgba(0,0,0,1) 2px 2px;	
}

.navbar-main a:hover, a:active {
    background-color: #3C6ECD;
}

.main {
	width:57.657%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0;
}

.sidebar-right {
    float: left;
    background-color: #293BE2;
    width: 20%;
    padding: 0 0 0 15px;
    height: 800px;
    padding-top: 50px;
}

.sidebar-right img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 100px;
	
}

.sidebar-right a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    padding-top: 5px;
}

.sidebar-right ul{
    padding: 15px;
}

.sidebar-right li {
	font-weight: bold;
    text-align: center;
    height: 50px;
    padding: 12px;
    margin: 10px 0 10px 0;
    background-color: #293BE2;
}

.sidebar-right li:hover, li:active {
    background-color: #3C6ECD;
    
}